body {
    margin: 0;
    height: 100vh;
    /*background: linear-gradient(to right, rgba(23, 0, 32, 0.979), rgb(15, 5, 40));*/
    font-family: "Orbitron", sans-serif;
}

.background-page{
    margin: 0;
    height: 100vh;
    width: auto;
    background: rgb(13, 18, 30);
    background-image: radial-gradient(circle, #22012c, #000000);
}

.page {
    display: grid;
    grid-template-areas:
    'header header header header header header'
    'menu main main main right right'
    'menu footer footer footer footer footer';
    grid-template-columns: 200px 1fr 1fr 1fr 100px 50px;
    grid-template-rows: 100px 1fr 80px;
    grid-gap: 2px;
    padding: 0px;
    min-height: 100vh;
    
}

.fa-arrow > i{
    display: flex;
    justify-content: flex-start;
    align-content: center;
    padding-right: 20px;
    color:rgb(172, 172, 172);
    font-size: 30px;
    cursor: pointer;
}

.github-link i {
    color: rgba(255, 255, 255, 0.5);
    font-size: 35px;
    transition: filter 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

.fa-git > i{
    display:flex;
    justify-content: flex-end;
    align-content: center;
    font-size: 35px;
    color: rgba(255, 255, 255, 0.736);
    cursor: pointer;
}

.page > header { 
    grid-area: header; 
    display: flex;
    z-index: 1;
    /*border: 0.2px;
    border-radius: 8px;
    border-bottom-style: ridge;*/
    justify-content: space-between;
    text-align: center;
    align-items: center;
    align-content: center;
    font-optical-sizing: auto;
    font-weight: 800;
    font-size: 2rem;
    font-style: normal;
    padding: 30px;
    background: #110116fe;
    color: rgba(220, 220, 220, 0.808);
    backdrop-filter: blur(30px); 
}